@media screen and (max-width: 600px) {

    ul{
        list-style: none;
        margin-top: 0;
        padding: 0;
    }
    
    *{
        transition: 0.3s;
    }
    
    .navbox{
        box-sizing: border-box;
        padding-top: 5px;
        margin: 0;
    }
    
    body {
        font-family: 'Josefin Sans', sans-serif;
        background-image: url('./component/images/unnamed.png');
        background-size: cover;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: rgb(15, 15, 15);

    }
    
    .navbarz {
        font-size: 18px;
        background-color: rgb(15, 15, 15);
        margin: 0;
        padding: 0;
        border: 0px;
        position: relative;
    }

    
    
    .navlinkz{
        text-decoration: none;
        color: white;
    }
    
    .logo{
        color: white;
        padding-bottom: 5px;
        font-size: 7vw;
    }
    
    .linkzz {
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 4vw;
    }
    
    .inside{
        padding-bottom: 7px;
        text-align: center;
    }

    .overlayMenu{
        position: absolute;
        top: 85%;
        background-color: rgb(15, 15, 15);
        right: 0;
        z-index: 9;
        width: 100%;
    }

    .horizontal_menu{
        display: none;
    }
    
    .navbar-toggle{
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer; 
        color: rgba(255,255,255,0.8);
        font-size: 24px;
    }
    
    .fontawesometoggle{
        color: white;
        position: absolute;
        top: 3px;
        right: 5px;
        cursor: pointer;
    
    }
    
    /* transitions */
    
    .list-transition-enter {
        opacity: 0;
        transform: scale(0.9);
      }
      .list-transition-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 300ms, transform 300ms;
      }
      .list-transition-exit {
        opacity: 1;
    
      }
      .list-transition-exit-active {
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 300ms, transform 300ms;
      }
    }

@media screen and (min-width: 601px) and (max-width: 1400px) {
    .linkzz {
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 2vw;
    }

    .logo{
        color: white;
        padding-bottom: 5px;
        font-size: 3vw;
        width: 20vw;
    }
}

@media screen and (min-width: 1401px) {
    .linkzz {
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 1.5vw;
    }

    .logo{
        color: white;
        padding-bottom: 5px;
        font-size: 2.5vw;
        width: 20vw;
    }
}

@media screen and (min-width: 601px) {
    ul{
        list-style: none;
        margin-top: 0;
        padding: 0;
    }
    
    *{
        transition: 0.3s;
    }
    
    .navbox{
        box-sizing: border-box;
        padding-top: 5px;
        margin: 0;
    }
    
    body {
        font-family: 'Josefin Sans', sans-serif;
        background-image: url('../src/component/images/sky.jpg');
        background-size: cover;
        height: 6vh;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: rgb(15, 15, 15);

    }

    .container1{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        align-items: center;
    }

    .horizontal_menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        margin-left: 10%;
        align-items: center;
    }
    
    .navbarz {
        font-size: 18px;
        background-color: rgb(15, 15, 15);
        margin: 0;
        padding: 0;
        border: 0px;
        position: relative;
        height: 6vh;
    }

    .navlinkz{
        text-decoration: none;
        color: white;
    }

    .overlayMenu{
        display: none;
    }
    
    .navbar-toggle{
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer; 
        color: rgba(255,255,255,0.8);
        font-size: 24px;
    }
    
    .fontawesometoggle{
        display: none;
    
    }
}