@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@539&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');
img {
    width: 100%;
}

.selfintro{
    height: auto;
    width: 100%;
    display: flex;
    margin-top: 10%;
    margin-bottom: 5%;
    flex-direction: column;

    align-items: center;
}

.pic{
    width: 50%;
    height: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 10%;

}

.pic2{
    width: 80%;
    height: auto;
    position: relative;
    text-align: center;
    margin: 20% 0 20% 0;
}
.NameMe{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;
    font-size: 18vw;
}

.breakln{
    border: solid 2px black;
    margin-bottom: 5px;
    display: block;
    line-height: 2px;
    width: 50%;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.TitleMe{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 10vw;
}

@media screen and (max-width: 350px) {
    .social {
        font-size: 20vw;
    }
}

@media screen and (max-width: 600px) {

    .HomeComponent{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-grow: 4;
        font-family: 'Comfortaa', sans-serif;
        margin:auto; 
        position: absolute;
        top: 25%; bottom: 10%;
        right: 0; left: 0;
    
        align-items: center;
        color: rgb(182, 182, 181);
    }

    .NameMe{
        font-size: 20vw;
    }

    .TitleMe{
        font-size: 10vw;
    }

    .contact{
        margin-bottom: 15%;
    }

    body {
        font-family: 'Josefin Sans', sans-serif;
        background-image: url('./images/unnamed.png');
        background-size: cover;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-color: rgb(3, 3, 56);
        top: 0;
        left: 0;
        position: absolute;
    }

    .edu-uoft{
        display: flex;
        flex-direction: row;
        margin: 20% 0 20% 0;
        color: rgb(221, 219, 219);
        width: 95%;
        background-color: rgba(128, 128, 128, 0.541);
    }
    
    .edu-osa{
        display: flex;
        flex-direction: row;
        margin: 20% 0 20% 0;
        color: rgb(221, 219, 219);
        width: 90%;
        background-color: rgba(128, 128, 128, 0.541);
    }
    
    .Edu-sec-title{
        font-size: 5vw;
        width: 100%;
        margin: 10%;
    }
    
    .Edu-sec-text{
        font-size: 4vw;
        margin: 10%;
    }
    
    .edu-main{
        margin-top: 60%;
        margin-bottom: 60%;
    }

    .pic_osa{
        width: 20%; 
        border: 1px black solid;
        height: 40%;
        margin-top: 10%;
        margin-left: 5%;
    }

    .edu_divider{
        width: 100%;
        border: 1px rgb(221, 219, 219) solid;
        margin-bottom: 50%;
    }

    .exp_title{
        margin: 60% 0 60% 0;
    }
    
    .exp_title_text{
        font-size: 7vw;
        color:rgb(221, 219, 219);
    }
    
    .exp_logo{
        width: 35%;
        margin: 5% 0 5% 0;
    }
    
    .exp_sec1{
        margin: 0 5% 0 5%;
        display:flex;
        flex-direction: column;
        align-items: center;
        color: rgb(221, 219, 219);
        background-color: rgba(128, 128, 128, 0.500);
        width: 95%;
    }
    
    .exp_sec1_text{
        
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    
    .exp_sectitle{
        font-size: 5vw;
        margin-top: 5%;
    }
    
    .exp_sectext{
        font-size: 4vw;
        width: 95%;
    }
    
    .exp_sec3{
        margin: 0 5% 0 5%;
        display:flex;
        flex-direction: column;
        color: rgb(221, 219, 219);
        align-items: center;
        margin: 10% 0 10% 0;
        width: 95%;
        background-color: rgba(128, 128, 128, 0.500);
    }

    .exp_img_text{
        font-size: 3vw;
        margin-top: 5%;
    }

    .carousel{

        width: 100vw;
        height: 65vw;
    }

    .carousel-img{
        height: 65vw;
        width: 100vw;
        border: 2px solid black;
    }

    .about-carousel-container{
        margin: 20vh 0 20vh 0;
    }

    .about-sec-title{
        font-size: 8vw;
    }

    .about_myself{
        text-align: center;
        width: 100%;
        font-size: 4vw;
        padding-right: 10%;
        padding-left: 10%;
    }

    .selfintrop2{
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .interests{
        font-family: 'Anton', sans-serif;
        font-size: 4vw;
    }
}

@media screen and (min-width: 601px) and (max-width: 1400px) {
    
    .HomeComponent{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-grow: 4;
        font-family: 'Comfortaa', sans-serif;
        margin:auto; 
        position: absolute;
        top: 10vh; bottom: 10%;
        right: 0; left: 0;
    
        align-items: center;
        color: rgb(182, 182, 181);
    }

    .edu-uoft{
        display: flex;
        flex-direction: row;
        margin: 20% 0 20% 0;
        color: rgb(221, 219, 219);
        width: 75%;
        background-color: rgba(128, 128, 128, 0.541);
    }

    .pic_osa{
        width: 20%; 
        border: 1px black solid;
        height: 40%;
        margin-top: 10%;
        margin-left: 5%;
    }
    
    .edu-osa{
        display: flex;
        flex-direction: row;
        margin: 20% 0 20% 0;
        color: rgb(221, 219, 219);
        width: 75%;
        background-color: rgba(128, 128, 128, 0.541);
    }
    
    .Edu-sec-title{
        font-size: 3vw;
        width: 100%;
        margin: 8%;
    }
    
    .Edu-sec-text{
        font-size: 2vw;
        margin: 10%;
    }
    
    .edu-main{
        margin-top: 35vh;
        margin-bottom: 35vh;
    }

    .edu_divider{
        width: 100%;
        border: 1px rgb(221, 219, 219) solid;
        margin-bottom: 20%;
    }

    .exp_title{
        margin: 35vh 0 35vh 0;
    }
    
    .exp_title_text{
        font-size: 6vw;
        color:rgb(221, 219, 219);
    }
    
    .exp_logo{
        width: 35%;
        margin: 5% 0 5% 0;
    }
    
    .exp_sec1{
        margin: 0 5% 0 5%;
        display:flex;
        flex-direction: column;
        align-items: center;
        color: rgb(221, 219, 219);
        background-color: rgba(128, 128, 128, 0.500);
        width: 75%;
    }
    
    .exp_sec1_text{
        
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    
    .exp_sectitle{
        font-size: 3vw;
        margin-top: 5%;
    }
    
    .exp_sectext{
        font-size: 2vw;
        width: 95%;
    }
    
    .exp_sec3{
        margin: 0 5% 0 5%;
        display:flex;
        flex-direction: column;
        color: rgb(221, 219, 219);
        align-items: center;
        margin: 10% 0 10% 0;
        width: 75%;
        background-color: rgba(128, 128, 128, 0.500);
    }

    .exp_img_text{
        font-size: 3vw;
        margin-top: 5%;
    }

    .carousel{
        width: 70vw;
        height: 50vw;
    }

    .carousel-img{
        height: 50vw;
        width: 70vw;
        border: 2px solid black;
    }

    .about-sec1{
        width: 85%;
    }

    .about-sec-title{
        font-size: 5vw;
    }

    .about_myself{
        text-align: center;
        width: 80%;
        font-size: 3vw;
        margin: 0 10% 5% 10%;
        background-color:rgba(128, 128, 128, 0.541);
    }

    .selfintrop2{
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 75%;
    }

    .interests{
        font-family: 'Anton', sans-serif;
        font-size: 3vw;
    }
}

@media screen and (min-width: 601px) and (max-width: 1000px){
    .about-carousel-container{
        margin: 20vh 0 20vh 0;
        align-items: center;
        display: flex;
        flex-direction: column;

    }

    .NameMe{
        font-size: 12vw;
        margin: 5% 0 5% 0;
    }

    .TitleMe{
        font-size: 10vw;
    }

    .contact{
        margin: 10% 0 15% 0;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1400px){
    .about-carousel-container{
        margin: 20vh 20vw 20vh 20vw;
    }

    .NameMe{
        font-size: 12vw;
    }

    .TitleMe{
        font-size: 10vw;
    }

    .contact{
        margin: 5% 0 15% 0;
    }
}

@media screen and (min-width: 1401px) {

    .HomeComponent{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-grow: 4;
        font-family: 'Comfortaa', sans-serif;
        margin:auto; 
        position: absolute;
        top: 12vh; bottom: 10%;
        right: 0; left: 0;
    
        align-items: center;
        color: rgb(182, 182, 181);
    }

    .NameMe{
        font-size: 10vw;
    }

    .TitleMe{
        font-size: 8vw;
    }

    .contact{
        margin: 2.5% 0 15% 0;
    }

    .edu-uoft{
        display: flex;
        flex-direction: row;
        margin: 20% 0 20% 0;
        color: rgb(221, 219, 219);
        width: 75%;
        background-color: rgba(128, 128, 128, 0.541);
    }

    .pic_osa{
        width: 20%; 
        border: 1px black solid;
        height: 40%;
        margin-top: 10%;
        margin-left: 5%;
    }
    
    .edu-osa{
        display: flex;
        flex-direction: row;
        margin: 20% 0 20% 0;
        color: rgb(221, 219, 219);
        width: 75%;
        background-color: rgba(128, 128, 128, 0.541);
    }
    
    .Edu-sec-title{
        font-size: 3vw;
        width: 100%;
        margin: 8%;
    }
    
    .Edu-sec-text{
        font-size: 2vw;
        margin: 10%;
    }
    
    .edu-main{
        margin-top: 35vh;
        margin-bottom: 35vh;
    }

    .edu_divider{
        width: 100%;
        border: 1px rgb(221, 219, 219) solid;
        margin-bottom: 20%;
    }

    .exp_title{
        margin: 35vh 0 35vh 0;
    }
    
    .exp_title_text{
        font-size: 5vw;
        color:rgb(221, 219, 219);
    }
    
    .exp_logo{
        width: 35%;
        margin: 5% 0 5% 0;
    }
    
    .exp_sec1{
        margin: 0 5% 0 5%;
        display:flex;
        flex-direction: column;
        align-items: center;
        color: rgb(221, 219, 219);
        background-color: rgba(128, 128, 128, 0.500);
        width: 75%;
    }
    
    .exp_sec1_text{
        
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    
    .exp_sectitle{
        font-size: 2.5vw;
        margin-top: 5%;
    }
    
    .exp_sectext{
        font-size: 1.5vw;
        width: 95%;
        margin-top: 5%;
    }
    
    .exp_sec3{
        margin: 0 5% 0 5%;
        display:flex;
        flex-direction: column;
        color: rgb(221, 219, 219);
        align-items: center;
        margin: 10% 0 10% 0;
        width: 75%;
        background-color: rgba(128, 128, 128, 0.500);
    }

    .exp_img_text{
        font-size: 1vw;
        margin-top: 5%;
    }

    .carousel{
        width: 50vw;
        height: 30vw;
    }

    .carousel-img{
        height: 30vw;
        width: 50vw;
        border: 2px solid black;
    }

    .about-carousel-container{
        margin: 20vh 25vw 20vh 25vw;
    }

    .about-sec1{
        width: 75%;
    }

    .about-sec-title{
        font-size: 3vw;
    }

    .about_myself{
        text-align: center;
        width: 80%;
        font-size: 2vw;
        margin: 0 10% 7% 10%;
        background-color:rgba(128, 128, 128, 0.541);
    }

    .selfintrop2{
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 65%;
    }

    .interests{
        font-family: 'Anton', sans-serif;
        font-size: 2vw;
    }
}

.contact{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.social{
    cursor: pointer;
}

.about_body h1{
    text-align: center;
}

.about_body{
    color: rgb(182, 182, 181);
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Education Section */

.education_section{
display: flex;
align-items: center;
justify-items: center;
flex-direction: column;
height: 100%;
width: 100%;
font-family: 'Baloo Tammudu 2', sans-serif;
}

.education_title{
text-align: center;
font-size: 8vw;
color: rgb(221, 219, 219);
margin: 0;
top: 40%;
}

.breakln1{
border: 1px white solid;
width: 80%;
}



/*Experience Section */

.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Baloo Tammudu 2', sans-serif;
}
