@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@539&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');
img {
    width: 100%;
}

.interests{
    font-family: 'Anton', sans-serif;
    font-size: 4vw;
}

.selfintro{
    height: auto;
    width: 100%;
    display: flex;
    margin-top: 10%;
    margin-bottom: 5%;
    flex-direction: column;

    align-items: center;
}

.pic{
    width: 50%;
    height: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 10%;

}
.about_myself{
    text-align: center;
    width: 100%;
    font-size: 4vw;
    padding-right: 10%;
    padding-left: 10%;
}

.selfintrop2{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pic2{
    width: 80%;
    height: auto;
    position: relative;
    text-align: center;
    margin: 20% 0 20% 0;
}
.NameMe{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;
    font-size: 18vw;
}

.carousel{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.breakln{
    border: solid 2px black;
    margin-bottom: 5px;
    display: block;
    line-height: 2px;
    width: 50%;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.TitleMe{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 10vw;
}
@media screen and (max-width: 600px) {
    body {
        font-family: 'Josefin Sans', sans-serif;
        background-image: url('./images/unnamed.png');
        background-size: cover;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-color: rgb(3, 3, 56);
        top: 0;
        left: 0;
        position: absolute;
    }
}

.HomeComponent{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    font-family: 'Comfortaa', sans-serif;
    margin:auto; 
    position: absolute;
    top: 25%; bottom: 10%;
    right: 0; left: 0;

    align-items: center;
    color: rgb(182, 182, 181);
}

.contact{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 25px;
}

.social{
    cursor: pointer;
}

.about_body h1{
    text-align: center;
}

.about_body{
    color: rgb(182, 182, 181);
    font-family: 'Comfortaa', sans-serif;
}

/* Education Section */

.education_section{
display: flex;
align-items: center;
justify-items: center;
flex-direction: column;
height: 100%;
width: 100%;
font-family: 'Baloo Tammudu 2', sans-serif;
}

.education_title{
text-align: center;
font-size: 8vw;
color: rgb(221, 219, 219);
margin: 0;
top: 40%;
}

.breakln1{
border: 1px white solid;
width: 80%;
}

.edu-uoft{
    display: flex;
    flex-direction: row;
    margin: 20% 0 20% 0;
    color: rgb(221, 219, 219);
    width: 95%;
    background-color: rgba(128, 128, 128, 0.541);
}

.edu-osa{
    display: flex;
    flex-direction: row;
    margin: 20% 0 20% 0;
    color: rgb(221, 219, 219);
    width: 90%;
    background-color: rgba(128, 128, 128, 0.541);
}

.Edu-sec-title{
    font-size: 5vw;
    width: 100%;
    margin: 10%;
}

.Edu-sec-text{
    font-size: 4vw;
    margin: 10%;
}

.edu-main{
    margin-top: 60%;
    margin-bottom: 60%;
}

/*Experience Section */

.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Baloo Tammudu 2', sans-serif;
}

.exp_title{
    margin: 60% 0 60% 0;
}

.exp_title_text{
    font-size: 7vw;
    color:rgb(221, 219, 219);
}

.exp_logo{
    width: 35%;
    margin: 5% 0 5% 0;
}

.exp_sec1{
    margin: 0 5% 0 5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    color: rgb(221, 219, 219);
    background-color: rgba(128, 128, 128, 0.500);
    width: 95%;
}

.exp_sec1_text{
    
    display: flex;
    flex-direction: column;
    width: 95%;
}

.exp_sectitle{
    font-size: 5vw;
    margin-top: 5%;
}

.exp_sectext{
    font-size: 4vw;
    width: 95%;
}

.exp_sec3{
    margin: 0 5% 0 5%;
    display:flex;
    flex-direction: column;
    color: rgb(221, 219, 219);
    align-items: center;
    margin: 10% 0 10% 0;
    width: 95%;
    background-color: rgba(128, 128, 128, 0.500);
}